<div class="example-button-row">    
  <div class="example-flex-container">
      <div class="example-button-container">
        <input style="display: none" type="file" (change)="onFileUpload($event)" #selectFile>
        <button mat-icon-button (click)="selectFile.click()" class="add"><mat-icon>add</mat-icon></button>
        <button mat-flat-button (click)="OnUploadFile()" *ngIf="selectedFile" class="upload">{{selectedFile.name}}<mat-icon>file_upload</mat-icon></button> 
      </div>
      
  </div>
</div>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">dataType</th>
    <th scope="col">actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let doc of documentList; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>      
      {{ doc.title }}
    </td>
    <td>{{ doc.dataType }}</td>
    <td>
      <button mat-icon-button class="download" (click)="downloadFile(doc.file,doc.dataType,doc.title)"><mat-icon>file_download</mat-icon></button>
      <button mat-icon-button class="delete" (click)="delete(doc.file)"><mat-icon>delete_forever</mat-icon></button>          
    </td>
  </tr>
  </tbody>
</table>
</div>
<ngx-spinner></ngx-spinner>

<!-- 
  
  <div class="example-flex-container">
      <div class="example-button-container">
        <input style="display: none" type="file" (change)="onFileUpload($event)" #selectFile>
          <button mat-icon-button (click)="selectFile.click()" class="add"><mat-icon>add</mat-icon></button>
          <button mat-flat-button (click)="OnUploadFile()" *ngIf="fileName!=''" class="upload">{{fileName}}<mat-icon>file_upload</mat-icon></button> 
      </div>
  </div>
</div>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">dataType</th>
    <th scope="col">actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let doc of documentList; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>      
      {{ doc.title }}
    </td>
    <td>{{ doc.dataType }}</td>
    <td>
      <button mat-icon-button class="download"><mat-icon>file_download</mat-icon></button>
      <button mat-icon-button class="delete" (click)="delete(doc._id)"><mat-icon>delete_forever</mat-icon></button>          
    </td>
  </tr>
  </tbody>
</table>
</div>

<a class="btn btn-block btn-secondary" routerLink="/admin/clientlist">Back</a> -->