
.flex-container{
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around ;
  /* align-items:center ; */
  padding: 1em;
}

.row            { 
  /* -webkit-flex-direction: row;  */
  /* flex-direction: row; */
  flex-wrap: row wrap;
}

.example-card {
  max-width: 300px;    
  margin: 2em 0;
  text-align: justify;
}

.card{
  width: 100%;
  /* margin: 2em auto; */
  text-align: center;
  background-color: #e7e9eb;
}
  
  
h1,h2{
  text-align:center;
}

h2{
  padding-top: 2em;
}

mat-icon{
  color: #2c2f91;
}

.column{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; 
  place-content: stretch; 
}

.bigger{
  font-size: xxx-large;
}

.center{
  display: block;
}

@media only screen and (max-width: 950px) {
  .column{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto); 
      place-items: center;
  }
  .card{
    width: 80%;
  }
}

@media screen and (max-device-width: 950px) {
  .column{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto); 
      place-items: center;
  }
  .card{
    width: 80%;
  }
}