<h1>Professional Immigration Service</h1>

<mat-carousel
timings="250ms ease-in"
[autoplay]="true"
interval="5000"
color="black"
maxWidth="auto"
proportion="25"
slides="5"
[loop]="true"
[hideArrows]="false"
[hideIndicators]="true"
[useKeyboard]="true"
[useMouseWheel]="false"
orientation="ltr"
>
    <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000040"
    [hideOverlay]="false"
    >
        <!-- <div style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center">
            <h1>{{ i }}</h1>
            <p>disabled: {{ matCarouselSlide.disabled }}</p>
            <button mat-flat-button (click)="matCarouselSlide.disabled = !matCarouselSlide.disabled">
                Click me!
            </button>
        </div> -->
    </mat-carousel-slide>
</mat-carousel>

<h2 *ngIf="nav.length>0">OUR SERVICES</h2>
<div class="flex-container row" >
    <mat-card class="example-card" *ngFor="let card of nav;">
        
        <img mat-card-image src="{{card.imgURL}}" alt="{{card.primaryTitle}}">
        <mat-card-content>
            <p>
            {{card.description}}
            </p>
        </mat-card-content>    
        <mat-card-actions>
            <button mat-button *ngIf="card.subList==null || (card.subList!=null && card.subList.length==0)" routerLink="/{{card.primaryTitle}}" >{{card.primaryTitle}}<mat-icon>arrow_right_alt</mat-icon></button>
            <button mat-button *ngIf="card.subList!=null && card.subList.length>0" [matMenuTriggerFor]="homeMenu" (click)="navItems(card._id)">{{card.primaryTitle}}<mat-icon>arrow_right_alt</mat-icon></button>

            <mat-menu #homeMenu="matMenu">
                <div *ngFor="let subItem of sub">
                    <a mat-menu-item *ngIf="subItem.subList==null || (subItem.subList!=null && subItem.subList.length==0)" routerLink="{{subItem.primaryTitle}}">{{subItem.primaryTitle}}</a>
                    <a mat-menu-item *ngIf="subItem.subList!=null && subItem.subList.length>0" [matMenuTriggerFor]="subMenu" (mouseover)="navSubItems(subItem._id)">{{subItem.primaryTitle}}</a>
                </div>
            </mat-menu>

            <mat-menu #subMenu="matMenu">
                <div *ngFor="let element of secondSub">
                    <a mat-menu-item routerLink="/{{element.primaryTitle}}">{{element.primaryTitle}}</a>
                </div>
            </mat-menu>
        </mat-card-actions>    
    </mat-card>

</div>

<h2>Action steps</h2>
<div class="column">
    <mat-card class="card">
        <mat-card-header class="center">
          <mat-card-subtitle><mat-icon>settings_phone</mat-icon></mat-card-subtitle>
          <mat-card-title>1.Free telephone consultation</mat-card-title>              
        </mat-card-header>
        <mat-card-content>
            <p>At this point, our experts will review</p>
            <p>your initial requirements and tell you</p>
            <p>which immigration programs you are</p>
            <p>eligible for.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header class="center">
          <mat-card-subtitle><mat-icon>face</mat-icon></mat-card-subtitle>
          <mat-card-title>2.Free face-to-face consultation</mat-card-title>              
        </mat-card-header>
        <mat-card-content>
            <p>By visiting our offices, the senior</p>
            <p>experts of the Mina Yousefi</p>
            <p>Immigration Office will inform you of</p>
            <p>the details of immigration programs</p>
            <p> that suit your circumstances and will</p>
            <p> clear up your ambiguities.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header class="center">
          <mat-card-subtitle><mat-icon>history_edu</mat-icon></mat-card-subtitle>
          <mat-card-title>3.Signing a contract &nbsp;&nbsp;</mat-card-title>              
        </mat-card-header>
        <mat-card-content>
            <p>After the final decision, the contract</p>
            <p>applicant will be delivered to you and</p>
            <p>a checklist of the work process and</p>
            <p>a list of required documents will be</p>
            <p>sent to you.</p>
        </mat-card-content>
    </mat-card>
</div>