.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.btn-secondary{
  background-color: #f44336;
}

.mat-button{
  color: #2c2f91;
}

.mat-button:hover{
  color: #0095da;
}

.action{
  margin-top: 2em;
}

img {
  max-width: 100%;
  height: auto;
}
