<div class="formContainer">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="row g-3">        
        <div class="col-md-6">
            <label for="lastname" class="form-label">new Password</label>
            <input type="text" class="form-control" formControlName="newPassword" />
        </div>
  
        <div class="col-12 action">
            <button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-block btn-primary">Update</button>
            <a class="btn btn-block btn-secondary" routerLink="/admin/clientlist">Back</a>
        </div>
    </form>
  </div>
  