<div class="formContainer">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="row g-3">
        <div class="col-md-6">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" formControlName="firstName" />
        </div>
        <div class="col-md-6">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" />
        </div>
        <div class="col-md-6">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" formControlName="age" />
        </div>
        <div class="col-md-6">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="text" class="form-control" formControlName="phone" />
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" />
        </div>
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" formControlName="address" placeholder="Main St" />
        </div>
        <div class="col-md-2">
            <label for="address" class="form-label">Unit</label>
            <input type="text" class="form-control" formControlName="unit" placeholder="1234" />
        </div>
        <div class="col-md-4">
            <label for="postalcodeOrZippCode" class="form-label">Zip</label>
            <input type="text" class="form-control" formControlName="postalcodeOrZippCode" />
        </div>
        <div class="col-md-6">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" formControlName="country" />
        </div>
        <div class="col-md-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" formControlName="city" />
        </div>
        <div class="col-md-3">
            <label for="provinceOrState" class="form-label">State</label>
            <input type="text" class="form-control" formControlName="provinceOrState" />
        </div>
  
        <div class="col-12 action">
            <button type="submit" [disabled]="!updateForm.valid" class="btn btn-block btn-primary">Update</button>
        </div>
    </form>
  </div>
  