<div class="grid">
    <h1>Contact Us</h1>

    <div class="column">
        <mat-card class="card">
            <mat-card-header class="center">
                <mat-card-subtitle><mat-icon>home</mat-icon></mat-card-subtitle>
                <mat-card-title>ADDRESS</mat-card-title>              
              </mat-card-header>
              <mat-card-content>
                  <p>7191 Yonge St. Suite 913,</p>
                  <p>Thornhill, ON, L3T0C4,</p>
                  <p>Canada</p>
              </mat-card-content>
        </mat-card>
    
        <mat-card class="card">
            <mat-card-header class="center">
                <mat-card-subtitle><mat-icon>perm_phone_msg</mat-icon></mat-card-subtitle>
                <mat-card-title>TELL</mat-card-title>              
              </mat-card-header>
              <mat-card-content>
                  <p>
                      <a mat-button href="tel:+19055971740">001-905-597-1740</a>
                  </p>
                  <p class="whatsapp" mat-fab>
                      <a mat-button href="https://api.whatsapp.com/send?phone=16477725712"><mat-icon>call</mat-icon></a>
                  </p>
              </mat-card-content>
        </mat-card>
    
        <mat-card class="card">
            <mat-card-header class="center">
                <mat-card-subtitle><mat-icon>email</mat-icon></mat-card-subtitle>
                <mat-card-title>EMAIL</mat-card-title>              
              </mat-card-header>
              <mat-card-content>
                  <p>
                      <a mat-button href="mailto: info@immiway.com">info@immiway.com</a>
                  </p>
              </mat-card-content>
        </mat-card>
    </div>

    <div class="width">
        <script type="text/javascript">(function a(d, w, u) {var h = d.getElementsByTagName("head")[0];var s = d.createElement("script");s.type = "text/javascript";s.src = "https://portal.form.io/lib/seamless/seamless.parent.min.js";s.onload = function b() {var f = d.getElementById("formio-form-610f004f98ae0bae4b9a0258");if (!f || (typeof w.seamless === u)) {return setTimeout(b, 100);}w.seamless(f, {fallback:false}).receive(function(d, e) {});};h.appendChild(s);})(document, window);</script><iframe id="formio-form-610f004f98ae0bae4b9a0258" style="width:100%;border:none;" height="600px" src="https://formview.io/#/rbutqcpeohjrqgf/contactus?iframe=1&header=0"></iframe>
    </div>

    <div class="width">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2879.523503881867!2d-79.4230926846284!3d43.803499579116384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2cf9e85eaa69%3A0x8f807746959c7951!2sEasy%20Way%20Group%20immigration%20services!5e0!3m2!1sen!2sca!4v1628376216249!5m2!1sen!2sca" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>

